#main{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}

#top{
    position: relative;
}

#centered_area_wrap{
    height: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
}

#centered_area_inner_wrap{
    width: 55%;
    position: absolute;
    height: 100%;
    bottom: 50%;
}

#emoji{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 5rem;
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 1rem;
}

#cover_photo{
    height: 14rem;
    position: relative;
}

#cover_image_wrap{
    height: 100%;
}

#image{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit:cover;
}

#main_content_wrap{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#main_content{
    height: inherit;
    width: 55%;
}

#options{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2rem;
    color:rgba(55, 53, 47, 0.5);
}

.options_comps{
    display: none;
    align-items: center;
    padding-inline: .5rem;
    padding-block: .2rem;
    border-radius: 5px;
    cursor: pointer;
}

.options_comps:hover{
    background-color: rgba(55, 53, 47, 0.08);
}

#top:hover .options_comps{
    display: flex;
}

#title{
    font-size: 2.5rem;
    font-weight: 600;
    height: auto;
}

.input_field{
    width: 100%;
    background-color: transparent;
    font-weight: 700;
    color: black;
    border: none;
}

.input_field:focus{
    outline: none;
}

.input_field::placeholder{
    color: #e7e3e3;
}





