/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

#main {
  font-family: 'Open Sans', sans-serif;  height: 100vh;
  width: 100vw;
  display: flex;
  user-select: none;
}

#editor{
  width: 100%;
}
