:root {
    --content--var: '';
  }

.main{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.overlay_container{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    opacity:0;
    cursor: default;
  }

.content_blocks{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    position: relative;
    width: 100%;
    max-width: 45rem;
    padding-block: .2rem;
    cursor: text;    
}

.checkbox_wrap{
    display: flex;
    width: 100%;
    position: relative;
}

.element_value{
    /* display: flex; */
    width: 100%;
    word-wrap: break-word;
    white-space: pre-line;
}

.element_value[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

.element_value[placeholder]:empty:focus::before {
    /* added this non breaking character here because otherwise the height was getting 0 as the div was getting empty */
    content: '\00a0';
}

.before_value::before{
    content: var(--content--var);
    color: black;
}


.content_blocks:focus{
    outline: none;
}

.options{
    visibility: hidden;
    position: absolute;
    left: -3rem;
    color: rgb(202, 199, 199);
    cursor: grab;
    /* display: flex; */
    height: 100%;
    /* align-items: center; */
}

.options:active{
    cursor: grabbing;
}

.main:hover > .options{
    visibility: visible;
}

.content_blocks:active > .options{
    color: white;
}

.content_blocks:active{
    user-select: none;
    outline: none;
    background-color: transparent;
    opacity: 1;   
}



#block_options{
    position: absolute;
    top: 2rem;
    width: 20rem;
    height: 17rem;
    z-index: 1;
    /* added the background color otherwise the back text was coming forward because of transparency */
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.drag_options{
    position: absolute;
    left: -16rem;   
    z-index: 1;
    padding-inline: .2rem;
    padding-top: .5rem;
    width: 14rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.drag_options_comps{
    display: flex;
    padding-inline: .5rem;
    padding-block: .3rem;
    border-radius: 3px;
    margin-block: .5rem;
    gap: .5rem;
    cursor: pointer;
}

.drag_options_left{
    display: flex;
    width: 100%;
}

.drag_options_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.open_drag_options{
    position: absolute;
    right: -1rem;
}

.drag_options_comps:hover{
    background-color: rgb(242, 241, 236);
}

.bullet{
    display: flex;
    width: inherit;
}

/* ul{
    color: black;
} */